@import "bourbon";

//vendor stuff
@import "vendor/h5bp.scss";
@import "vendor/normalize.scss";
@import "../bower_components/material-design-icons/iconfont/material-icons.css";

//components

html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
